log.txt
__pycache__/log.cpython-310.pyc
database.db
__pycache__/download.cpython-310.pyc
__pycache__/SQL_Import.cpython-310.pyc
__pycache__/SQL_Select.cpython-310.pyc
sensor-data/2023-03-02_dht22_sensor_3660.csv
